node_modules
.env
.gitignore
# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

#ipfs-api
ipfs-api/node_modules
ipfs-api/.env
ipfs-api/nftjson.json